
<div id="app-main">

    <article>
        <h1 id="title" class="title">Sección de Artículo</h1>
        <h2 id="subtitle" class="subtitle">Sección de Artículo</h2>
        <figure>
            <picture id="imgDestacada">
                <source srcset="images/default.avif" type="" media=""/>
                <source srcset="images/default.avif" type="" media=""/>
                <img src="images/default.avif" width="750px" height="450px" alt="Foto card de Patrimonio" loading="lazy" />
            </picture>
            
            <figcaption style="text-align: center; margin-top: 5px;"><h5>Imagen Destacada</h5></figcaption>
        </figure>
        
        <div class="girdCategorias">
            <div class="card" id="card_det_1">
                <figure>
                    <img src="images/default.avif" width="375px" height="250px" alt="Foto" loading="lazy"/>
                </figure>
                <div class="card-body">
                    <h2>Fiestas</h2>
                    <p>Nuestras populares fiestas de Moros y Cristianos de interés turístico nacional.2</p>
                </div>
            </div>

            <div class="card" id="card_det_2">
                <figure>                    
                    <img src="images/default.avif" width="375px" height="250px" alt="Foto" loading="lazy" />
                </figure>
                <div class="card-body">
                    <h2>Fiestas</h2>
                    <p>Nuestras populares fiestas de Moros y Cristianos de interés turístico nacional.</p>
                </div>
            </div>

            <div class="card" id="card_det_3">
                <figure>
                    <img src="images/default.avif"  width="375px" height="250px" alt="Foto card de Patrimonio"loading="lazy" />
                </figure>
                <div class="card-body">
                    <h2>Fiestas</h2>
                    <p>Nuestras populares fiestas de Moros y Cristianos de interés turístico nacional.</p>
                </div>
            </div>
        </div>

        <div class="gridDetalle">
            <div class="video-container">
            <!-- <iframe width="560" height="315" id="media" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe> -->
                <!-- <iframe id="media" loading="lazy"  width="560px" height="315px" src="https://www.youtube.com/embed/j93yo_Zr_bs?si=xxJXTO66c9E7RfK6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe> -->
                <div class="iframe-facadeJSON " id="media">
                    <div class="placeholder">
                        <p>Video promocionales (Click para ver)</p>
                    </div>
                </div>
            </div>
            <section class="text-container">
                <h2 id="fecha" class="fechaTitle"></h2>
                <h3 class="fechaTitle" id="tituloLista">Listado de Ejemplo</h3>
                <ul id="lista">
                    <li>Elemento 1 del listado</li>
                    <li>Elemento 2 del listado</li>
                    <li>Elemento 3 del listado</li>
                </ul>
            </section>
        </div>
        <div class="parrafos_det">
            <h3>Historia</h3>
            <p id="parrafo1">Este es el primer párrafo.</p>
            <p id="parrafo2">Este es el segundo párrafo.</p>
            <p id="parrafo3">Este es el tercer párrafo.</p>
        </div>
    </article>
</div>