
<div id="app-main">

    <article>
        <h1 id="title" class="title">Sección de Artículo</h1>
        <h2 id="subtitle" class="subtitle">Sección de Artículo</h2>
        <div class="girdCategorias">
            <div class="card">
                <figure>
                    <picture>
                        <source srcset="images/cards/mic.webp?as=webp&width=480" type="image/webp" media="(max-width: 480px)"/>
                        <source srcset="images/cards/mic_3x.jpg?as=webp&width=800" type="image/webp" media="(max-width: 1200px)"/>
                        <img src="images/cards/mic_2x.jpg" alt="Foto card de Patrimonio" />
                    </picture>                        
                </figure>
                <div class="card-body"></div>
            </div>

            <div class="card">
                <figure>
                    <picture>
                        <source srcset="images/cards/mic.webp?as=webp&width=480" type="image/webp" media="(max-width: 480px)"/>
                        <source srcset="images/cards/mic_3x.jpg?as=webp&width=800" type="image/webp" media="(max-width: 1200px)"/>
                        <img src="images/cards/mic_2x.jpg" alt="Foto card de Patrimonio" />
                    </picture>                        
                </figure>
                <div class="card-body"></div>
            </div>

            <div class="card">
                <figure>
                    <picture>
                        <source srcset="images/cards/mic.webp?as=webp&width=480" type="image/webp" media="(max-width: 480px)"/>
                        <source srcset="images/cards/mic_3x.jpg?as=webp&width=800" type="image/webp" media="(max-width: 1200px)"/>
                        <img src="images/cards/mic_2x.jpg" alt="Foto card de Patrimonio" />
                    </picture>                        
                </figure>
                <div class="card-body"></div>
            </div>
        </div>

        <div class="gridDetalle">
            <div class="video-container">
            <!-- <iframe width="560" height="315" id="media" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe> -->
                <iframe id="media" src="https://www.youtube.com/embed/j93yo_Zr_bs?si=xxJXTO66c9E7RfK6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
            <section class="text-container">
                <h2 id="fecha" class="fechaTitle"></h2>
                <h3 class="fechaTitle" id="tituloLista">Listado de Ejemplo</h3>
                <ul id="lista">
                    <li>Elemento 1 del listado</li>
                    <li>Elemento 2 del listado</li>
                    <li>Elemento 3 del listado</li>
                </ul>
            </section>
        </div>
        <div class="parrafos_det">
            <h3>Historia</h3>
            <p id="parrafo1">Este es el primer párrafo.</p>
            <p id="parrafo2">Este es el segundo párrafo.</p>
            <p id="parrafo3">Este es el tercer párrafo.</p>
        </div>
    </article>
</div>