<div id="slider">
    <figure>
        <picture>
            <source srcset="images/slider/480/algar.jpg 480w" type="image/jpg" media="(max-width: 480px)"/>
            <source srcset="images/slider/768/algar.jpg 768w" type="image/jpg" media="(max-width: 768px)"/>
            <source srcset="images/slider/960/algar.jpg 960w" type="image/jpg" media="(max-width: 960px)"/>
            <img src="images/slider/algar.avif" width="1200px" height="600px" alt="foto fuentes algar" loading="lazy">
        </picture>

        <picture>
            <source srcset="images/slider/480/mic.jpg 480w" type="image/jpg" media="(max-width: 480px)"/>
            <source srcset="images/slider/768/mic.jpg 768w" type="image/jpg" media="(max-width: 768px)"/>
            <source srcset="images/slider/960/mic.jpg 960w" type="image/jpg" media="(max-width: 960px)"/>
            <img src="images/slider/mic.webp" width="1200px" height="600px" alt="foto fiestas moros y cristianos" loading="lazy">
        </picture>

        <picture>
            <source srcset="images/slider/480/fort.jpg 480w" type="image/jpg" media="(max-width: 480px)"/>
            <source srcset="images/slider/768/fort.jpg 768w" type="image/jpg" media="(max-width: 768px)"/>
            <source srcset="images/slider/960/fort.jpg 960w" type="image/jpg" media="(max-width: 960px)"/>
            <img src="images/slider/fort.webp" width="1200px" height="600px" alt="foto fort de bernia" loading="lazy">
        </picture>

        <picture>
            <source srcset="images/slider/480/llavaor.jpg 480w" type="image/jpg" media="(max-width: 480px)"/>
            <source srcset="images/slider/768/llavaor.jpg 768w" type="image/jpg" media="(max-width: 768px)"/>
            <source srcset="images/slider/960/llavaor.jpg 960w" type="image/jpg" media="(max-width: 960px)"/>
            <img src="images/slider/llavaor.jpg" width="1200px" height="600px" alt="foto puador" loading="lazy">
        </picture>

        <picture>
            <source srcset="images/slider/480/coop.jpg?as=webp 480w" type="image/webp" media="(max-width: 480px)"/>
            <source srcset="images/slider/768/coop.jpg?as=webp 768w" type="image/webp" media="(max-width: 768px)"/>
            <source srcset="images/slider/960/coop.jpg?as=webp 960w" type="image/webp" media="(max-width: 960px)"/>
            <img src="images/slider/coop.jpg" width="1200px" height="600px" alt="foto portal o muralla" loading="lazy">
        </picture>

    </figure>
</div>

<main>            
    <div class="inicioPage">
        <h1>Bienvenidos a Callosa d'en Sarrià</h1>
        <p>Un pueblo con encanto, que tiene desde maravillosas vistas hasta fiestas historicas.</p>
    </div>
    
    <div class="girdMain">
        <section class="card">
            <figure>
                <picture >
                    <source srcset="images/algar_card_x2.jpg" media="(max-width: 480px)"/>
                    <source srcset="images/algar_card.jpg?as=webp" type="image/webp" media="(max-width: 1200px)"/>
                    <img src="images/algar_card.jpg" alt="Foto card de las fuentes del algar" class="clip-polygon" loading="lazy">
                </picture>
            </figure>
            <div class="card-body">
                <h2>Categorías</h2>
                <h3>Clip-Path</h3>
                <p>Esta página ofrece un listado de elementos para conocer nuestros mejores sitios para visitar.</p>
                <a href="categorias.html" class="read-more">Ver mas +</a>
            </div>
        </section>

        <section class="card">
            <figure>
                <picture>
                    <source srcset="images/presenteacion_card.jpg?as=webp&width=480" type="image/webp" media="(max-width: 480px)"/>
                    <source srcset="images/presenteacion_card.jpg?as=webp&width=800" type="image/webp" media="(max-width: 1200px)"/>
                    <img src="images/presenteacion_card.jpg" alt="Foto card de la Presentación" class="clip-polygon" loading="lazy">
                </picture>
              </figure>
              <div class="card-body">
                    <h2>Presentación</h2>
                    <h3>Clip-Path</h3>
                    <p>Página que explica en detalle el contenido del sitio web.</p>
                    <a href="presentacion.html" class="read-more">Ver mas +</a>
                </div>
        </section>

        <section class="card">
            <figure>
                <picture>
                    <source srcset="images/enlaces_card.jpg?as=webp&width=480" type="image/webp" media="(max-width: 480px)"/>
                    <source srcset="images/enlaces_card.jpg?as=webp&width=800" type="image/webp" media="(max-width: 1200px)"/>
                    <img src="images/enlaces_card.jpg" alt="Foto card de enlaces" class="clip-polygon" loading="lazy"/>
                </picture>
                
              </figure>
              <div class="card-body">
                <h2>Enlaces</h2>
                <h3>Clip-Path</h3>
                    <p>Página con documentación y enlaces a las fuentes de las que se ha sacado el contenido.</p>
                    <a href="enlaces.html" class="read-more">Ver mas +</a>
                </div>
        </section>
                     
    </div>

    <article  class="text-app">
        <h2>Un poco de historia</h2>
        <p>Se han descubierto yacimientos pertenecientes a los periodos Neolítico (5.000 a.C), calcolítico, edad del Bronce, épocas ibérica y romana. Estos asentamientos sirvieron de base para el establecimiento de alquerías musulmanas en diferentes partidas del término municipal.</p>
        <p>El origen de Callosa (cuyo significado probable es “tierra dura, seca” en latín) es una antigua alquería musulmana que, tras la reconquista cristiana hecha por el rey Jaime I de Aragón en el s. XIII, fue adquirida en propiedad por el Almirante Bernat de Sarrià en 1290, durante el reinado de Alfonso I de Valencia y III de Aragón, convirtiéndose así en su primer señor feudal. De ahí que a partir de entonces la ciudad pasara a denominarse Callosa d’en Sarrià (“Callosa del Señor Sarrià”, en valenciano) y se convirtiera en el centro del señorío, que llegó a abarcar gran parte de la actual comarca de la Marina Baja.</p>
        <p></p>Desde entonces fue adquirida por diferentes familias nobles, entre las cuales podríamos destacar las de Sarrià (1290-1335), Corona de Aragón (1335-1445), Bou (1445-1560), Moncada (1560-1767) y el Conde de Orgaz (1767). En la actualidad, el título nobiliario del pueblo pertenece a la familia Crespí de Valldaura.</p>
        <p>La ciudad conserva en su casco antiguo parte de su estructura urbana medieval, delimitada por la línea de murallas de la Callosa intramuros, que se puede cruzar todavía hoy por una de sus puertas originales: el Portal. A lo largo de esta línea se tiene la imagen más tradicional de Callosa con los restos de las murallas (s. XIV) y del Castillo (± 1395 – s. XVIII), declarados Bien de Interés Cultural desde el año 2005.</p>
    </article>
</main>
