/*@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');*/

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --header-color: #ffffff;
  --footer-color: #ffffff;
  --text-header: #304a9f;
  --text-footer: #304a9f;
  --blanco-color: rgb(255, 255, 255);
  --contrast-color: rgb(191, 12, 240);
  --contrast-claro-color: rgb(229, 225, 254);
  --fondo-color: rgb(250, 245, 245);
  --gris-color: rgb(110, 110, 112);
  --img-scale: 1.001;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
  /* padding: 10px; */
  margin-bottom: 15px;
}

h4{
  text-align: center;
  margin: 5px 10px;
  font-style: normal;
  color: var(--gris-color);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--fondo-color);
}

/* MENÚ DESPLEGABLE-- LOGOS RESPONSIVE EN HTML */
header {
  background-color: var(--header-color);
  color:  var(--blanco-color);;
  /* padding: 10px 0; */
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.logo img {
  height: 80px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  position: relative;
}

.menu a {
  color: var(--text-header);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menu a:hover {
  color: var(--contrast-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  border-top: 3px solid var(--footer-color);
  background-color: var(--header-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-header);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b3b3b3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 4px 0;
}


.inicioPage{
  margin: 0 auto;
  max-width: 100%;
  padding: 5px 0px 30px 5px;
  text-align: center;
}

main {
  padding-top: 10px; 
}

.girdMain {
  display: grid;
  margin-inline: auto;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  padding: 20px;
}

.girdCategorias {
  display: grid;
  margin-inline: auto;
  max-width: 1200px;
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.text-app {
  margin: 0 auto;
  max-width: 80%;
  padding: 5px 0px 30px 5px;
  text-align: justify;
}

.card {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  overflow: hidden;
}

.girdMain .card figure{
  background-color: #dddddd;
}

.card figure{
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  transform-origin: center;
  /* transform: scale(var(--img-scale)); */
}

.card-body{
  padding: 24px;
}

.card-body a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

.card-body h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
}


/* CARDS SECTIONS ==> https://codepen.io/utilitybend/pen/bGvjLba*/

.cardCategorias {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
  background-color: var(--blanco-color);
}
.desc-card {
  color: var(--gris-color);
  text-align: justify;
  padding: 10px;
 }
.create-card{
  text-align: right;
  font-size: 10px;
  opacity: 0.5;
}


/* Buscado en: https://codepen.io/Luisarias/pen/VaypEd */
div#slider { overflow: hidden; padding-top: 0px;} 
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 40s slidy infinite; 
}

div#slider img {
  width: 100%;
  height: auto;
  max-height: 600px; 
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#app-main { 
  padding-top: 10px;
}

.title {
  margin: 15px;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

.subtitle {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  opacity: 0.6;
}

.fechaTitle {
  text-align: start;
}

article {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

#app-main .gridDetalle {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}


#app-main .video-container {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    width: 400;
    height: 325;
}

#app-main .text-container {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

#app-main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  align-content: center;
}

/* #app-main .imgDestacada img{
  max-height: 400px;
} */

/*
#app-main video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}*/

.parrafos_det {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}

.vacio {
  margin: 50px;
  height: 120px;
}

.clip-polygon {
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 100% 75%, 100% 75%, 90% 80%, 5% 90%);
  background-color: rgb(185, 181, 176);
  /* Note that percentages work as well as px */
}

/* FOOTER DE LAS PAGINAS */

footer {
  background-color: var(--footer-color);
  color: var(--text-footer);
  padding: 1em 10em;
  /* text-align: center; */
  font-weight: 100;    
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.logoFooter img {
  height: 200px;
  max-width: 400px;
}

.menuFooter {  
  display: flex;
  gap: 20px;
}

.menuFooter li {
  padding: 5px;
  list-style: none;
  text-decoration: none;

}

.menuFooter a {
  /*color: white;*/
  text-decoration: none;
  
}

.menuFooter a:hover {
  color: var(--contrast-color);
}

/* Responsive Styles */
/* TABLETS */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        text-align: center;
    }

    .dropdown-content {
        position: static;
    }

    .menu-toggle {
        display: flex;
    }

    .girdMain {
        display: grid;
        margin-inline: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }
  
    .girdCategorias {
        display: grid;
        margin-inline: auto;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    #app-main .gridDetalle {
        flex-direction: column;
        align-items: center;
    }

    #app-main .video-detalle, .text-detalle {
        margin-right: 0;
        margin-bottom: 20px;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menuFooter {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}

/* MOVILES */
@media (min-width: 576px) {

  .girdMain {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .girdCategorias {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    padding: 20px;
  }


}


